@import 'variables';

.required:after {
	color: var(--primary-red);
	content: '*';
	margin-left: 3px;
}

.page-container {
	min-height: 710px;
}

.footer-container {
	border-top: 1px solid var(--light-gray);
	min-height: 60px;
}

