@import 'variables';

.required:after {
	color: var(--primary-red);
	content: '*';
	margin-left: 3px;
}

.page-container {
	min-height: 500px;
}

.footer-container {
	border-top: 1px solid var(--light-gray);
	min-height: 60px;
}

.background-orange {
	background: var(--primary-orange);
	color: var(--primary-white);
}

.background-gray {
	background: var(--light-gray);
	color: var(--primary-black);
}

.background-dark-gray {
	background: var(--primary-gray);
	color: var(--primary-black);
}
