:root {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
	Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
	"Segoe UI Symbol";

	--primary-black: #1A1A1A;
	--primary-gray: #dedede;
	--primary-green: #4DA530FF;
	--primary-orange: #ED7F10;
	--primary-red: #FF0000;
	--primary-white: #FFFFFF;

	--dark-gray: #aaaaaa;
	--dark-green: #1B4F08;

	--light-gray: #efefef;
	--light-green: #C5E1A5;
}
