<p-menubar [model]="items" *ngIf="!isLogin()">
	<ng-template pTemplate="start">
		<img src="assets/img/logo.png" [height]="40" class="me-1"  alt="logo"/>
	</ng-template>
	<ng-template pTemplate="end">
		<span class="me-2">
			<em class="fa fa-power-off" pTooltip="Se déconnecter" (click)="deconnecter()"></em>
		</span>
		<span class="fw-bold me-3">{{ utilisateurConnecte && utilisateurConnecte.nomEtPrenomAbrege() | titlecase }}</span>
	</ng-template>
</p-menubar>
<div class="message-erreur-container">
	<p-messages *ngIf="applicationErreur" [(value)]="messages"></p-messages>
</div>
<div class="">
	<router-outlet></router-outlet>
</div>
