.table-parmacie {
	.col-numero {
		width: 10%;
	}

	.col-nom {
		width: 25%;
	}

	.col-ville {
		width: 15%;
	}

	.col-quartier {
		width: 15%;
	}

	.col-horaire {
		width: 10%;
	}

	.col-gerant {
		width: 15%;
	}

	.col-contact {
		width: 10%;
	}
}
