<div class="page-container col-12">
	<p-table
		class="table-parmacie p-datatable-striped p-datatable-sm"
		currentPageReportTemplate="Pharmacie {first} à {last} sur {totalRecords} pharmacies"
		[paginator]="true"
		[rows]="14"
		[scrollable]="true"
		scrollHeight="650px"
		[showCurrentPageReport]="true"
		[tableStyle]="{ 'min-width': '50rem' }"
		[value]="pharmacies">
		<ng-template pTemplate="header">
			<tr>
				<th class="col-numero">Numéro</th>
				<th class="col-nom">Nom</th>
				<th class="col-ville">Ville</th>
				<th class="col-quartier">Quartier</th>
				<th class="col-horaire">Heure Ouverture</th>
				<th class="col-gerant">Nom du Gérant</th>
				<th class="col-contact">Contacts</th>
			</tr>
		</ng-template>
		<ng-template pTemplate="body" let-pharmacie>
			<tr>
				<td>{{ pharmacie.numero }}</td>
				<td>{{ pharmacie.nom }}</td>
				<td>{{ pharmacie.ville }}</td>
				<td>{{ pharmacie.quartier }}</td>
				<td>{{ pharmacie.heureOuvertureFormate() }}</td>
				<td>{{ pharmacie.nomGerant}}</td>
				<td>{{ pharmacie.contact }}</td>
			</tr>
		</ng-template>
		<ng-template pTemplate="paginatorleft">
			<p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
		</ng-template>
		<ng-template pTemplate="paginatorright">
			<p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
		</ng-template>
	</p-table>
</div>

<div class="footer-container d-flex gap-1 col-12">
	<p-button pRipple
			  label="Créer"
			  icon="fa fa-plus"
			  class="green">
	</p-button>

	<p-button pRipple
			  label="Importer"
			  icon="fa fa-download"
			  class="green">
	</p-button>

	<p-button pRipple
			  (onClick)="exporterTemplatePharmacie()"
			  label="Exporter CSV"
			  icon="fa fa-upload"
			  class="green">
	</p-button>
</div>
